body {
    background-image: url("https://cdn.pixabay.com/photo/2021/02/09/19/21/dog-5999671_960_720.png");
    background-color: #fbcbd4;
    background-size: auto;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1070px){
    body {
        background-image: url("/assets/background2.png");
        background-size: auto;
    }
}
