body {
    background-image: url("/assets/evileyes1.png");
    background-color: #008000;
    background-size: cover;
}

@media screen and (min-width: 1024px){
    body {
        background-size:50%;
    }
}
