body {
    background-image: url("https://img.freepik.com/premium-photo/cannabis-plant-greenhouse-farm-marijuana-leaves-background-indica-cannabis-cultivation-herbal-medicine_141345-238.jpg?w=1060");
    background-color: #008000;
    font-family: 'Cinzel', serif;
    background-size: cover;
    height: 100vh;
}
