.carousel-inner{
    height: 58vh;
    object-fit: cover;
    border-top: ridge 2px pink;
}

#mainIndex {
    background: #fff;

    #section1{

        .col{
            //background-color: rgba(204, 0, 255, 0.26);
            background-color: #fbcbd4;
        }

        .textoPrincipal{
            background-color: #fbcbd4;
            padding: 1rem;
            letter-spacing: 1px;
            word-spacing: 1px;
            
            .parrafo{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-top: 3rem;
                gap: 1.5rem;
                font-style: italic;
                font-family: 'Raleway', sans-serif;

                img{
                    width: 50%;
                    border-radius: 50%;
                }
            }
        }
    }
}

