.mainProducts{

    .rowAccesorios{
        margin: 1rem;
        gap: 0.5rem;
        margin-bottom: 5rem;

        h3{
            display: flex;
            align-items: center;
        }
    }

    .rowAlimentos{
        margin: 1rem;
        gap: 0.5rem;

        h3{
            display: flex;
            align-items: center;
        }
    }
}